@media screen and (max-width: 768px) {
    body {}

    .mp3 {
        /* width: 100%; */
        max-height: 400px;
        margin-top: 0px;
    }

    .mp3-content {
        padding: 0 10px;
        text-align: center;
    }

    .play-lists {}

    .play-list {
        margin: 4px 6px;
    }
}